body {
	margin: 20px;
	background-color: #E1E1E1;
}
body > dl {
	padding: 5px;
	font-family: Monaco;
}

dd, dt, dl {
	margin: 0px;
}

/* Criteria */
dd > dl {
	font-family: monospace;
	margin: 5px;
}

/* GIVENS */
dd > dl:first-of-type {
	margin-left: 30px;
}

/* WHENS */
dd > dl:nth-of-type(2) {
	margin-left: 60px;
}

/* THENS */
dd > dl:nth-of-type(3) {
	margin-left: 90px;
}

/* Title */
dt {
	font-size: 14px;
	color: green;
}
/* Result */
dt + dd {
	font-size: 11px;
	color: #333333;
	display: none;
}

dt[data-failed] {
	color : red;	
}

/* Reason */
dt[data-failed] + dd {
	display: block;
	margin-left: 10px;
	font-family: Monaco;
	color: #333333;
}